<!DOCTYPE html>
<html>
  <head>
    <title>Willin Wang's Toys</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="//willin.wang/favicon.ico"/>
    <link rel="stylesheet" href="//unpkg.com/todomvc-app-css/index.css">
    <style>
      [v-cloak] { display: none; } 
      .todo-list h3{ line-height: 1.5em;padding: 0 1em; }
      del {color: rgba(255,0,99,0.5);} del span {color: #4d4d4d;}
    </style>
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1>Willin's Toys</h1>
      </header>
      <section class="main" v-show="list.length" v-cloak>
        <ul class="todo-list">
          <template v-for="l in list">
            <li><h3>{{ l.category }}</h3></li>
            <li v-for="item in filter(l.items)"
              class="item"
              :key="item.name + Math.random()"
              :class="{ unbought: !item.bought, deleted: item.deleted }">
              <div class="view">
                <input class="toggle" type="checkbox" v-model="item.bought" disabled>
                <label> 
                  <del v-if="item.deleted"><span>{{ item.name }}</span></del>
                  <span v-else>{{ item.name }}</span>
                  <span v-if="item.year">({{ item.year }})</span>
                </label>
                <label v-if="item.meta">{{ item.meta }}</label>
              </div>
            </li>
          </template>
        </ul>
      </section>
      <footer class="footer" v-show="list.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} total
        </span>
        <ul class="filters">
          <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
          <li><a href="#/want" :class="{ selected: visibility == 'unbought' }">Want</a></li>
          <li><a href="#/bought" :class="{ selected: visibility == 'bought' }">Bought</a></li>
          <li><a href="#/undeleted" :class="{ selected: visibility == 'undeleted' }">Undeleted</a></li>
          <li><a href="#/deleted" :class="{ selected: visibility == 'deleted' }">Deleted</a></li>
        </ul>
      </footer>
    </section>
    <footer class="info">
      <p>Written by <a href="https://willin.wang/">Willin Wang</a></p>
    </footer>
    <script src="//unpkg.com/vue"></script>
    <script src="toys.js"></script>
    <script src="app.js"></script>
  </body>
</html>
